<?xml version="1.0" encoding="utf-8" ?>
<otrs_config version="1.0" init="Application">
    <ConfigItem Name="Ticket::EventModulePost###111-SMSNotification" Required="0" Valid="1">
        <Description Translatable="1">Sends sms notification.</Description>
        <Group>Ticket</Group>
        <SubGroup>Core::Ticket</SubGroup>
        <Setting>
            <Hash>
                <Item Key="Module">Kernel::System::Ticket::Event::SMSNotification</Item>
                <Item Key="Event">(ArticleCreate)</Item>
            </Hash>
        </Setting>
    </ConfigItem>
</otrs_config>
